.header {
  background-color: #ff2626;
  padding: 1rem 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  max-width: 100%;
  padding: 0 2rem;
}
