.card-warper {
  position: relative;
  transition: ease-in-out 0.3s;
}
.card-warper .add-to {
  transition: all 0.2s;
  color: #fff;
  font-weight: 200;

  display: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
.card {
  display: flex;
  align-self: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: relative;
  width: 100%;
}

.card img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.card:hover img,
.add-to:hover img {
  opacity: 0.3;
}

.card:hover .card-overlay {
  opacity: 1;
}

.card-warper:hover .card-overlay {
  opacity: 1;
}
.card-warper:hover .add-to {
  display: block;
}
.card-warper:hover img {
  opacity: 0.3;
}
.card-overlay {
  transition: ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding-top: 1rem;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  /* margin: 0 auto; */
  color: #fff;
  text-align: center;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.text-rating {
  color: #000;
  position: absolute;
  font-size: 0.9rem;
  font-weight: 900;
}
