.movies-list {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(165px, 1fr));
  padding: 1rem 0;
  /* grid-template-columns: repeat(10, 1fr); */
}
