.movie-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  gap: 1rem;
}

.movie-details .movie-content {
  max-width: 50%;
  padding: 0 2rem;
  line-height: 1.6;
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
