.movie-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  gap: 1rem;
  background-color: rgba(240, 248, 255, 0);
}
.hero {
  background: no-repeat top center/cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: flex-end; */
  /* justify-content: flex-end; */
  position: relative;
  width: 100%;
}

.hero::before {
  background-color: black;
  filter: brightness(0.5);
}
.movie-details .movie-content {
  max-width: 50%;
  padding: 0 2rem;
  line-height: 1.6;
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.trailer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.trailer iframe {
  max-width: 90%;
}

/* @media (max-width: 1000px) {
  .trailer iframe {
    max-width: 80%;
  }
} */
