:root {
  font-size: 16px;
  --primary-color: #333;
}

body {
  background-color: #171717;
  font-family: "Nunito", sans-serif;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 1.05rem;
  font-weight: 700;
}

.btn {
  cursor: pointer;
  border: none;
  padding: 0.5rem 1rem;

  /* background-color: aliceblue; */
}
.btn-outline {
  /* border: 1px solid #e6d5b8; */
  color: #fff;
  background-color: #f2652a;
}

.btn-grey {
  background-color: var(--primary-color);
  font-size: 1.25rem;
  color: #fff;
}

.container {
  text-align: center;
  padding: 0rem 2rem;
}
input {
  border: 1px solid #c2c2c2;
}
